.loader-img {
  height: 13vmin;
  margin-top: 11%;
  pointer-events: none;
  filter: invert(90%) sepia(98%) saturate(2833%) hue-rotate(335deg)
    brightness(104%) contrast(101%);
}

@media (prefers-reduced-motion: no-preference) {
  .loader-img {
    animation: loader-img-spin infinite 4s linear;
  }
}

@keyframes loader-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header svg{
  fill: #ffe81f;
  height: 75px;

}
header{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.data-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  margin: auto;
  width: 84%;
}
.data-list {
  padding: 1rem 1rem 1rem;
  border-radius: 10px;
  list-style: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  background-size: fill;
  background-repeat: no-repeat;
  border-radius: 5px;
 
 
}
.data-list:nth-child(1) {
  background: url('https://finmavis.github.io/swapi-task/static/media/bg-card-1.0c96fd00.png');
 
}

.data-list:nth-child(2) {
  background: url('https://finmavis.github.io/swapi-task/static/media/bg-card-2.b0a7b209.png');
 
}
.data-list:nth-child(3) {
  background: url('https://finmavis.github.io/swapi-task/static/media/bg-card-3.1914d853.png');
  
}

.data-list:nth-child(4) {
  background: url('https://finmavis.github.io/swapi-task/static/media/bg-card-4.c21c4d4b.png');
  
}
.data-list:nth-child(5) {
  background: url('https://finmavis.github.io/swapi-task/static/media/bg-card-5.67d061d6.png');
  
}

.data-list:nth-child(6) {
  background: url('https://finmavis.github.io/swapi-task/static/media/bg-card-6.b4fea25d.png');
  
}
.title {
  font-size: 1.5rem;
}
.crawl {
  font-size: 16px;
  line-height: 1.4;
  padding-bottom: 1rem;
  border-bottom: 2px solid #8e2e2e;
  margin-bottom: 1rem;
}
a {
  color: #e2ce20;
  text-decoration: none;
}
.date {
  color: rgb(157, 157, 157);
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 2px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.65em;
  padding: 27px 0;
}
.container {
  max-width: 1000px;

}
.data-list:hover {
  box-shadow: rgb(32, 152, 209) 0px 0px 10px 3px, rgb(0, 0, 0) 0px 0px 10px;
  transition: .2s ease;
}
.crawl{
  overflow: hidden;
  max-height: 17ch;
  text-overflow: ellipsis;
}

